<!doctype html>
<html>
<head>
    <title>M-log</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fas fa-feather-alt"></span>Admin</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 profile">
            <div class="well">
                <h3><span class="fas fa-address-card"></span></h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>ID</strong>: <%= user._id %><br>
                        <strong>Email</strong>: <%= user.local.email %><br>
                        <strong>Password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/signup" class="btn btn-default">Sign Up</a>
                <% } %>
                <% if (user.local.email) { %>
                  <form action="/blog" method="POST">
                    <!-- <input type="text" value="<%= user.local.email %>" name="name">
                    <input type="text" placeholder="message" name="msg"> -->

                    <input type="text" name="title" class="title" value="" placeholder="Title">
                    <p><input class="blog" type="text" name="blog" value="" placeholder="Tell your story..."></p>
                    <button type="submit" class="btn btn-default">Publish</button>
                  </form>
                </div>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6 profile">
          <h3>Blog Archive</h3>
          <ul class="messages">
          <% for(var i=0; i<blog.length; i++) {%>
            <li class="message">

              <h3><%= blog[i].title %></h3>
              <h3><%= blog[i].blog %></h3>
              <span><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>
        </div>

<script src="main.js"></script>

</body>
</html>
